# Git
alias gc-='git checkout -'
alias gcm='git checkout $(git rev-parse --verify main &>/dev/null && echo "main" || echo "master")'
alias gl="git log --oneline -n"
alias gmm='git merge $(git rev-parse --verify main &>/dev/null && echo "main" || echo "master")'
alias gp="git push"
alias gpp="git pull --prune"
alias gs="git status"
alias gsp="git stash pop"
alias gss="git stash save -u "

# Docker
alias dsss="docker-sync-stack start"

# Misc.
alias yt-audio="yt-dlp -x --audio-format m4a --write-thumbnail --embed-thumbnail "
alias ls='ls --color=auto'
